# Fund this account with aave USDC from their faucet at https://app.aave.com/reserve-overview/?underlyingAsset=0xba50cd2a20f6da35d788639e581bca8d0b5d4d5f&marketName=proto_base_sepolia_v3.  Note, the faucet at https://app.aave.com/faucet links to the USDC faucet, and that USDC is NOT USED by the aave base sepolia pools and is different from the one given by the first link, which is used by the aave base sepolia pools.
AAVE_USDC_PRIVATE_KEY=

OWNER_PRIVATE_KEY=

# Passing these will setup the user and agent pkps and delegation
LIT_PAYER_SECRET_KEY=
LIT_RELAY_API_KEY=
# Or can be done manually in dashboard.heyvincent.ai and then bringing the address here
PKP_ETH_ADDRESS=

DELEGATEE_PRIVATE_KEY=
VINCENT_APP_ID=

CROSSMINT_API_KEY=

ALCHEMY_RPC_URL=
ZERODEV_RPC_URL=
